@charset 'UTF-8';
.c{
    width:1202px;
    margin:0 auto;
}
.cw{width:1348px;margin:0 auto;background: #f0f0f0;}
.cb{
  overflow:hidden;
  zoom:1;
}
.f12{font-size:12px !important;}
.f14{font-size:14px !important;}
.f18{font-size:18px !important;}
.f16{font-size:16px !important;}
.f30{font-size:30px !important;}
.f20{font-size:20px !important;}
.f24{font-size:24px !important;}
.f40{font-size:40px !important;}

.fw900{font-weight:900;}
.fw400{font-weight:400;}

.textCenter{text-align:center}
.textRight{text-align:right}
.textLeft{text-align:left;}
.verticalBottom{vertical-align: bottom;}

.rt{float:right}
.lf{float:left}
.mauto{margin:0 auto}
.hide{display:none;}
.show{
    display:block;
}
.show2{display:inline-block;}
.line35{line-height: 35px;}
.cmain{
  color:#5c91be;
}
.cwarn{color: #f87e59;}
.csafe{}
.cfff{
	color: #fff;
}
.c96{color:#969696;}
.c5d{
	color: #5d5d5d;
}
.c36{
	color: #363636; 
}
.bg_tab{
	background: #8bd4e2;
}
.bg_tabbg{
	background: #f4ffff;
}
.bg_fa{background: #fafafa;}
.bg_fff{background: #fff;}
.re{position: relative;}
.ab{position: absolute;}
.aline:hover{text-decoration: underline;}
.aline2{text-decoration: underline;}
.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt35{margin-top: 35px !important}
.mt5{margin-top: 3px !important}
.mb40{margin-bottom: 40px !important;}
.mb30{margin-bottom: 30px !important;}
.mb15{margin-bottom: 15px !important;}
.pb20{padding-bottom: 20px !important;}
.pt30{padding-top:30px!important;}
.pt40{padding-top:40px!important;}
.pt15{padding-top:15px!important;}
.pr30{padding-right: 30px!important;}
.pl30{padding-left: 30px!important;}
.mr15{margin-right: 15px!important;}

