@charset 'UTF-8';
/*header*/
.header_link{
  line-height: 30px;
}
.header_link .link a{
  color: #5d5d5d;
}
.header_link .link a:hover{
  text-decoration: underline;
}
.header_logo{
  background: url('../images/hlogo_02.jpg') no-repeat;
  height:108px;
}
.header_logo a{
  text-indent:-9999px;
  float: left;
  width:380px;
  height:108px;
  margin-right: 350px;
}
.header_logo h1{
  font-size: 30px;
  color:#fff;
  float: left;
  margin-right: 5px;
  line-height: 108px;
}
.header_logo .h1{
  font-weight: 900;
  padding:5px 10px;
  background: #63a1ac;
  line-height: 31px;
  margin-top:35px;
}
/*footer*/
.footer_bg{
  background-color: #47a7ba;
  padding-top:40px;
}
.footer_logo{
  display: inline-block;
  margin-top:20px;
  margin-right: 50px;
}
.footer_bg .connect ul{
  width:480px;
  list-style: none;
  padding:0;
  margin:0;
}
.footer_bg .connect ul li{
  width:240px;
  margin-top:15px;
  float:left;
  font-size:14px;
  color:#fff;
}
