@charset 'UTF-8';
p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight: 400;font-size: 100%}
a{text-decoration:none;border:0;font-size: 14px;color:#2f2f2f;}
a:focus{outline:none;}
body{
	font-size: 14px;
	color:#2f2f2f;
	margin:0;padding:0;
  	font-family:Microsoft YaHei;
  	min-width:1200px;
  	background: #f0f0f0;
}
img{border:0;} 

/*左侧tab*/
.tab_block{
	width:240px;
	margin-right: 20px;
}
.tab_block h2{
	font-size: 24px;
	color: #fff;
	background: #8bd4e2;
	line-height: 50px;
	text-indent: 25px;
}
.tab_block ul{
	margin:0;
	padding: 0;
	list-style: none;
	background: #f4ffff;
}
.tab_block ul li a{
	display: block;
	
	font-size: 18px;
	text-indent: 25px;
	line-height: 40px;
	border-bottom: 1px dashed #b2e9f4;
}
.tab_block ul li a:hover{
	color: #f8b900;
}
.right{
	width:942px;
}
.right .wp{
	padding:0 25px;
}
.title{
	 font-size: 24px;
	 line-height: 50px;
	 background: #c2eef6;
	 color: #116e80;
	 text-align: center;
}
.title2{
	 font-size: 24px;
	 line-height: 50px;
	 background: #5dc1c6;
	 color: #fff;
	 text-align: center;
}
/*分会列表*/
.fhlist_b1{
	padding:90px 90px 180px;
}
.fhlist_b1 ul{
	margin:0;
	padding: 0;
	list-style: none;
	border:1px solid #5dc1c6;
}
.fhlist_b1 ul li a{
	display: block;
	line-height: 80px;
	font-size: 18px;
	text-indent: 30px;
}
.fhlist_b1 ul li a:hover{
	background: #c9e7f3!important;
}
/*评审小组*/
.board{
	width:894px;
	height: 75px;
	background: #ffffd7;
	color: #ff6317;
	margin:35px auto 0 auto;
	text-align: center;
	border:1px solid #ffe3c7;
	border-radius: 2px;
}
.board h5{
	margin: 10px;
}
.board h3{
	font-size: 18px;
	margin: 0 10px;
}
.psgroup table,.pswait table{
	width:100%;
	border-collapse:collapse;
	border:none;
}
.psgroup table td{
	border:1px solid #efefef;
	height: 40px;
	line-height: 25px;
}
.psgroup .table .td1{
	width:140px;
	text-align: center;
	font-size: 18px;
}
.psgroup .table1 .td1{
	background: #f5f5f5;
}
.psgroup .table .td2{
	padding:0 30px;	
}
.psgroup .table1 .td2{
	background: #fafafa;
}
.psgroup .table1 .td2 a{
	position: relative;
	display: block;
	line-height: 40px;
}
.psgroup .table1 .download{
	position: absolute;
	background: url('../images/1_07.gif') no-repeat;
	width:59px;
	height:20px;
	top:12px;
	left:250px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.psgroup .content2{
	border:1px solid #ebebeb;
	background: #fafafa;
	padding:35px 25px 50px;
}
.psgroup .content2 .person{
	line-height: 26px;
	font-size: 18px;
	color: #449cda;
	background: url('../images/1_11.gif') no-repeat left;
	text-indent: 35px;
}
.psgroup .content2 .person span{
	color: #2d9514;
	font-size: 14px;
}
.psgroup .content2 .delete{
	background: url('../images/1_15.gif') no-repeat left;
	width:100%;
	height:100%;
	color: #fff;
	line-height: 40px;
	text-indent: 8px;
	display: block;
}
.psgroup .content2 .remind{
	background: url('../images/1_18.gif') no-repeat;
	width:72px;
	height:24px;
	top:12px;
	left:25px;
	color: #fff;
	text-align: center;
	line-height: 23px;
}
.psgroup .content2 .delete2{
	background: url('../images/1_15.gif') no-repeat left;
	width:72px;
	height:24px;
	color: #fff;
	line-height: 23px;
	text-align: center;
	top:12px;
	left:105px;
}
.psgroup .content2 .add{
	display: block;
	width:192px;
	line-height: 47px;
	background: url('../images/1_21.gif') no-repeat;
	text-align: center;
}
.psgroup .content2 .p1{
	line-height: 50px;
	border-bottom: 2px solid #fff;
	background: #abd3ef;
}
.psgroup .content2 .order input{
	margin-right: 15px;
}
.psgroup .content2 .order div{
	width: 33.175%;
	line-height: 50px;
	text-align: center;
	border-right: 2px solid #fff;
	background: #cce4f6;
}
.psgroup .content2 .submit{
	height: 90px;
	background: #cce4f6;
	border-top: 2px solid #fff;
}
.psgroup .content2 .submit a{
	display: block;
	background: url('../images/1_25.gif') no-repeat center;
	width: 100%;
	height: 100%;
}
/*等待评审*/
.pswait table thead{
	background: #dcf4f9;
}