@charset 'UTF-8';
p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight: 400;font-size: 100%}
a{text-decoration:none;border:0;font-size: 14px;color:#2f2f2f;}
a:focus{outline:none;}
body{
	font-size: 14px;
	color:#2f2f2f;
	margin:0;padding:0;
  	font-family:Microsoft YaHei;
  	min-width:1200px;
  	background: #f0f0f0;
}
img{border:0;} 

/*左侧tab*/
.tab_block{
	width:240px;
	margin-right: 20px;
}
.tab_block h2{
	font-size: 24px;
	color: #fff;
	background: #8bd4e2;
	line-height: 50px;
	text-indent: 25px;
}
.tab_block ul{
	margin:0;
	padding: 0;
	list-style: none;
	background: #f4ffff;
}
.tab_block ul li a{
	display: block;
	
	font-size: 18px;
	text-indent: 25px;
	line-height: 40px;
	border-bottom: 1px dashed #b2e9f4;
}
.tab_block ul li a:hover{
	color: #f8b900;
}
.right{
	width:942px;
}
.title{
	 font-size: 24px;
	 line-height: 50px;
	 background: #c2eef6;
	 color: #116e80;
	 text-align: center;
}
.title2{
	 font-size: 24px;
	 line-height: 50px;
	 background: #5dc1c6;
	 color: #fff;
	 text-align: center;
}
.fhlist_b1{
	padding:90px 90px 180px;
}
.fhlist_b1 ul{
	margin:0;
	padding: 0;
	list-style: none;
	border:1px solid #5dc1c6;
}
.fhlist_b1 ul li a{
	display: block;
	line-height: 80px;
	font-size: 18px;
	text-indent: 30px;
}
.fhlist_b1 ul li a:hover{
	background: #c9e7f3!important;
}
